@media screen and (max-width: 786px) {
  #about {
    margin-top: 1.875rem;
  }
  .story-title1 {
    display: none;
  }
  .story-title2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--scarlet-600);
    font-size: 3.5rem;
  }
  .story-paragraphs {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
    padding: 0 0.75rem;
  }
  .story-sep3 {
    display: none;
  }
  .story-sep4 {
    display: block;
    margin-top: 2rem;
  }
}
