#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.75rem;
}

.story-title2 {
  display: none;
}

.story-title1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.18rem;
}

.story-title1 > h1 {
  color: var(--scarlet-600);
  font-size: 4.5rem;
}

.story-title1 > .story-sep2 {
  transform: rotate(-180deg);
}

.story-paragraphs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5.375rem;
  column-gap: 5.375rem;
  max-width: 820px;
  margin-top: 2rem;
}

.story-paragraphs p {
  display: block;
  max-width: 367px;
  text-align: justify;
  font-family: 'monarcha', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.7;
  color: var(--tuatara-500);
  margin-bottom: 1.125rem;
}

.story-paragraphs .story-column1 p:last-child,
.story-paragraphs .story-column2 p:last-child {
  margin-bottom: 0;
}

.story-sep3 {
  display: block;
  margin-top: 2rem;
}

.story-sep4 {
  display: none;
}

/* FIRST LETTER */
.story-column1 .first-letter:first-letter {
  color: var(--scarlet-700);
  font-family: 'sabbath-black', serif;
  font-weight: 400;
  font-style: normal;
  float: left;
  font-size: 5rem;
  line-height: 0.75;
  margin-top: 0.25rem;
  padding: 0.25rem 0.5rem 0 0.25rem;
}

@supports (initial-letter: 3) or (-webkit-initial-letter: 3) {
  .story-column1 .first-letter:first-letter {
    float: none;
    font-size: initial;
    line-height: normal;
    margin-top: 0;
    padding: 0;
    initial-letter: 3;
    -webkit-initial-letter: 3;
    padding: 0 0.625rem 0 0;
  }
}
