#albums {
  margin-top: 2rem;
  padding-bottom: 3.75rem;
  background-color: var(--scarlet-600);
}

.albums-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 4.75em;
  color: var(--tuatara-50);
  padding-top: 2rem;
}

.albums-title p {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  color: var(--tuatara-800);
}

.albums-photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.albums-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.albums-more-link {
  display: block;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  max-width: max-content;
  color: var(--tuatara-50);
}

.albums-more-link::after {
  display: block;
  content: '';
  width: 15rem;
  height: 2px;
  background-color: var(--tuatara-50);
  margin-top: 0.625rem;
}

.albums-more-link:hover {
  color: var(--tuatara-800);
}
.albums-more-link:hover::after {
  background-color: var(--tuatara-800);
}
