:root {
  --tuatara-50: #f7f7f6;
  --tuatara-100: #e4e4e3;
  --tuatara-200: #c9c8c6;
  --tuatara-300: #a6a5a2;
  --tuatara-400: #82827f;
  --tuatara-500: #686764;
  --tuatara-600: #52524f;
  --tuatara-700: #444441;
  --tuatara-800: #383837;
  --tuatara-900: #313130;
  --tuatara-950: #1a1a19;

  --scarlet-50: #fff2f0;
  --scarlet-100: #ffe2de;
  --scarlet-200: #ffcbc3;
  --scarlet-300: #ffa89a;
  --scarlet-400: #ff7560;
  --scarlet-500: #ff4a2e;
  --scarlet-600: #f22b0c;
  --scarlet-700: #cd2308;
  --scarlet-800: #a9200b;
  --scarlet-900: #8b2111;
  --scarlet-950: #4c0d03;
}
