:root {
  --tuatara-50: #f7f7f6;
  --tuatara-100: #e4e4e3;
  --tuatara-200: #c9c8c6;
  --tuatara-300: #a6a5a2;
  --tuatara-400: #82827f;
  --tuatara-500: #686764;
  --tuatara-600: #52524f;
  --tuatara-700: #444441;
  --tuatara-800: #383837;
  --tuatara-900: #313130;
  --tuatara-950: #1a1a19;
}
